.display {
	height: 140px;
	width: 340px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #547980;
	border-radius: 15px;
	text-align: right;
	color: white;
	font-size: 40px;
	overflow-wrap: break-word;
}

p {
	vertical-align: "top";
	float: top;
}